@import url('https://fonts.googleapis.com/css2?family=Bangers&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Londrina+Shadow&family=Madimi+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

*{
    pad: 0;
    margin: 0;
    font-family:"Montserrat", sans-serif;  
  scroll-behavior: smooth;
  scroll-margin-top:clamp(5rem, 5vw, 10rem);
}
:root{
    --primary-color:#3D3B40;
    --secondary-color:#545CEC;
    --background-color:#f6f6f6;
    --header-font-color:#f6f6f6;
    --header-color:#3D3B40;
    --ligthbulb:#f6f6f6;
}
